  <div layout="column" ng-init="getBook()">
    <md-content class="container container-sm content-ebooks" layout-ms="column" layout-wrap layout="row">
        <div layout="column" layout-align="start center" flex="100" class="ng-scope layout-align-start-center layout-column">
        	<md-card style="width: 100%">
                <md-card-content>
                	<div class="layout-wrap" layout="row" flex="100">
                        <div layout="column" flex-sm="50" flex-gt-xs="50" flex-md="50" flex-gt-md="30" flex="30" class="content-book-image">
                            <img src="{{ book.cover }}">
                        </div>
                        <div flex></div>
                        <div layout="column" flex-sm="50" flex-gt-xs="50" flex-md="50" flex-gt-md="65" flex="65" class="content-book-detail">
                            <span class="dificult">
                                <small>Dificultad</small>
                                <span>120</span>
                            </span>
                            <ul class="breadcrumb">
                                <li><a href="#">Inicio</a></li>
                                <li><i class="material-icons">chevron_right</i></li>
                                <li><a href="#">Géneros</a></li>
                                <li><i class="material-icons">chevron_right</i></li>
                                <li><a class="active">{{ book.genre }}</a></li>
                            </ul>
                            <h1>{{ book.title }}</h1>
                            <a href="#" class="author-name">{{ book.author }} - {{ book.exam_id }}</a>
                            <p class="description">{{ book.description }}</p>
                            <md-button class="md-raised md-primary" ui-sref="exam_take({examId:book.exam_id})">Rendir exámen</md-button>
                        </div>
                        <!--
                        <div layout="column" flex="100" class="content-book-detail">
                        <p>Comentarios</p>
                        <span>libro</span>
                        </div>
                        -->
                    </div>
                </md-card-content>
            </md-card>
            <md-content style="width:100%;">
                <div class="content-body container container-sm">
                    <div class="header-contents">
                        <h3 class="md-title"><span></span>Acción y aventura</h3>
                        <a href="#" class="md-button">Ver más</a>
                    </div>
                </div>
            </md-content>
            <md-content class="container container-sm content-ebooks" layout-ms="column" layout-wrap layout="row">
                <div flex-sm="25" flex-gt-xs="50" flex-md="25" flex-gt-md="25" flex="50" layout="column">
                    <md-card class="ebooks">
                        <div class="outer-align">
                            <div class="inner-align">
                                <a href="#">
                                    <img ng-src="https://images.bajalibros.com/gDnJCeWO6ejQrJZUtQOBoUZ1p3Q=/fit-in/242x370/filters:fill(white):quality(75):format(webp)/d2d6tho5fth6q4.cloudfront.net/adjuntos/libranda/librandaimg_9788408146926.jpg" class="md-card-image" alt="Washed Out">
                                </a>
                                <span class="dificult">
                                    <small>Dificultad</small>
                                    <span>120</span>
                                </span>
                            </div>
                        </div>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-subhead">Acción</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p>La ciudad de las tormentas</p>
                            <a href="#">Jesús Miguel Martínez</a>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <div flex="40">
                                <a href="#" class="more-info">Más info</a>
                            </div>
                            <div flex></div>
                            <div flex="55">
                                <a href="#" class="test">Rendir examen</a>
                            </div>
                        </md-card-actions>
                    </md-card>
                </div>
                <div flex-sm="25" flex-gt-xs="50" flex-md="25" flex-gt-md="25" flex="50" layout="column">
                    <md-card class="ebooks">
                        <div class="outer-align">
                            <div class="inner-align">
                                <a href="#">
                                    <img ng-src="http://t2.gstatic.com/images?q=tbn:ANd9GcQubDMSAX8yDJjZxeQu8WIHMi64Dvw3b5K7OXyTHpA7hGwu0Poi" class="md-card-image" alt="Washed Out">
                                </a>
                                <span class="dificult">
                                    <small>Dificultad</small>
                                    <span>1800</span>
                                </span>
                            </div>
                        </div>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-subhead">Historia</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p>El origen perdido</p>
                            <a href="#">Matilde Asensio</a>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <div flex="40">
                                <a href="#" class="more-info">Más info</a>
                            </div>
                            <div flex></div>
                            <div flex="55">
                                <a href="#" class="test">Rendir examen</a>
                            </div>
                        </md-card-actions>
                    </md-card>
                </div>
                <div flex-sm="25" flex-gt-xs="50" flex-md="25" flex-gt-md="25" flex="50" layout="column">
                    <md-card class="ebooks">
                        <div class="outer-align">
                            <div class="inner-align">
                                <a href="#">
                                    <img ng-src="http://image.casadellibro.com/a/l/t0/28/9788415623328.jpg" class="md-card-image" alt="Washed Out">
                                </a>
                                <span class="dificult">
                                    <small>Dificultad</small>
                                    <span>760</span>
                                </span>
                            </div>
                        </div>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-subhead">Historia</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p>REGALO DE REYES</p>
                            <a href="#">JESUS ZAMORA BONILLA</a>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <div flex="40">
                                <a href="#" class="more-info">Más info</a>
                            </div>
                            <div flex></div>
                            <div flex="55">
                                <a href="#" class="test">Rendir examen</a>
                            </div>
                        </md-card-actions>
                    </md-card>
                </div>
                <div flex-sm="25" flex-gt-xs="50" flex-md="25" flex-gt-md="25" flex="50" layout="column">
                    <md-card class="ebooks">
                        <div class="outer-align">
                            <div class="inner-align">
                                <a href="#">
                                    <img ng-src="http://image.casadellibro.com/a/l/t0/53/9788427041653.jpg" class="md-card-image" alt="Washed Out">
                                </a>
                                <span class="dificult">
                                    <small>Dificultad</small>
                                    <span>3200</span>
                                </span>
                            </div>
                        </div>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-subhead">Historia</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p>EL ULTIMO TUAREG </p>
                            <a href="#">ALBERTO VAZQUEZ-FIGUEROA</a>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <div flex="40">
                                <a href="#" class="more-info">Más info</a>
                            </div>
                            <div flex></div>
                            <div flex="55">
                                <a href="#" class="test">Rendir examen</a>
                            </div>
                        </md-card-actions>
                    </md-card>
                </div>
            </md-content>
        </div>
    </md-content>

    <footer>
    	<div class="container">
    		<ul class="footer-links">
    			<li><a href="#">Terminos y condiciones</a> |</li>
    			<li><a href="#">Preguntas frecuentes</a> |</li>
    			<li><a href="#">Contacto</a></li>
    		</ul>
    	</div>
    </footer>
</div>
